@import "tailwindcss";

@theme {
  --color-*: initial;
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary-red: #c73b0f;
  --color-primary-red-hover: #952c0b;
  --color-primary-green: #1ea575;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  /* Typography - Font Family */
  --font-redhat: "Red Hat Text";

  /* Text Presets as Custom Utilities */
  /* Catatan: Di v4, kita bisa mendaftarkan utility custom di sini */
}

/* Tailwind v4 Style */

@utility text-preset-1 {
  font-family: var(--font-redhat);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0px;
}

@utility text-preset-2 {
  font-family: var(--font-redhat);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0px;
}

@utility text-preset-3 {
  font-family: var(--font-redhat);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0px;
}

@utility text-preset-4 {
  font-family: var(--font-redhat);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;

  /* Kamu bisa grouping variasi bold di dalam sini pakai nesting */
  &.bold {
    font-weight: 600;
  }
}

@layer base {
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-rose-50);
    color: var(--color-rose-900);
    scrollbar-gutter: stable;
  }
}
